name: Deploy PaaS

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: sample-app
      IMAGE_TAG: v1

    steps:
      # 1️⃣ Récupération du repo
      - name: Checkout
        uses: actions/checkout@v5

      # 2️⃣ Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.12.1

      # 3️⃣ Login Azure
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # 4️⃣ Terraform Apply PaaS
      - name: Terraform Apply
        working-directory: ./paas
        env:
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        run: |
          terraform init
          terraform apply -auto-approve

      # 5️⃣ Récupération Login Server depuis Azure
      - name: Get ACR login server
        id: acr
        run: |
          ACR_LOGIN=$(az acr show -n ${{ secrets.ACR_NAME }} --query loginServer -o tsv)
          echo "login_server=$ACR_LOGIN" >> $GITHUB_OUTPUT

      # 6️⃣ Login Docker à ACR
      - name: Docker Login to ACR
        uses: docker/login-action@v3
        with:
          registry: ${{ steps.acr.outputs.login_server }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      # 7️⃣ Build image
      - name: Build Docker Image
        run: |
          docker build \
            -t ${{ steps.acr.outputs.login_server }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} .

      # 8️⃣ Push image
      - name: Push Docker Image
        run: |
          docker push ${{ steps.acr.outputs.login_server }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

      # 9️⃣ Restart web app
      - name: Restart Web App
        run: |
          az webapp restart \
            --resource-group ${{ secrets.AZURE_RG }} \
            --name ${{ secrets.WEBAPP_NAME }}
